@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom op onze bloemproduct pagina</h1>
    <hr />
</div>
<h1>Overzicht aanbod: </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResultProducts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultProducts[0].WeekNrFlowerStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultProducts[0].WeekNrFlowerEnd)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekNrFlowerStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekNrFlowerEnd)
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="get">
    <div class="formfield">
        <div class="form-group">
            <h1>Filteren:</h1>
            <div>
                <label asp-for="FormWeekNrFlowerStart" class="control-label"></label>
                <input asp-for="FormWeekNrFlowerStart" class="form-control" />            <span asp-validation-for="FormWeekNrFlowerStart" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="FormWeekNrFlowerEnd" class="control-label"></label>
                <input asp-for="FormWeekNrFlowerEnd" class="form-control" />            <span asp-validation-for="FormWeekNrFlowerEnd" class="text-danger"></span>
            </div>

            <h1>Sorteren:</h1>
            <div>
                <input type="checkbox" name="CheckWeekNrFlowerStart" value="CheckWeekNrFlowerStart" />
                <label asp-for="CheckWeekNrFlowerStart" class="control-label"></label>
                <br><input type="checkbox" name="CheckWeekNrFlowerEnd" value="CheckWeekNrFlowerEnd" />
                <label asp-for="CheckWeekNrFlowerEnd" class="control-label"></label>
            </div>

            <div>
                <button asp-page-handler="FilterSort" id="FilterSort_Btn" class="btn btn-primary" value="Filteren">Filteren</button>
            </div>
        </div>
    </div>
</form>

<form method="post">
    <div class="formfield">

        <div class="form-group">
            <h1>Maak een orderlijn aan: </h1>
            <div>
                <label asp-for="OrderLine.ProductName" class="control-label"></label>
                <input type="text" id="OrderLine_ProductName_textbox" name="OrderLine_ProductName_textbox" class="form-control" value="Typ hier de begin letters in..." onfocus="value=''">
                <select asp-for="OrderLine.ProductName" class="form-control">
                    <option value="">Kies een product.</option>
                    @foreach (var prod in Model.AllProducts)
                    {
                        if (prod.Name == Model.OrderLine.ProductName)
                        {
                            @:<option class="form-control" selected value="@prod.Name">@prod.Name</option>
                        }
                        else
                        {
                            @:<option class="form-control" value="@prod.Name">@prod.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="OrderLine.ProductName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="OrderLine.Quantity" class="control-label"></label>
                <input asp-for="OrderLine.Quantity" class="form-control" autofocus />
                <span asp-validation-for="OrderLine.Quantity" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="formfield">
                <button asp-page-handler="CreateOrderLine" class="btn btn-primary">Maak orderlijn aan</button>
            </div>
        </div>
    </div>
</form>

<h1>Orderlijnen: </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesList[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesList[0].Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderLinesList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}