@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom op onze bloemproduct pagina</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResultProducts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultProducts[0].WeekNrFlowerStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultProducts[0].WeekNrFlowerEnd)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekNrFlowerStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekNrFlowerEnd)
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="get">
    <p>Vul een weeknummer in:</p>
    <div>StartWeek Bloei</div><input type="number" name="FormWeekNrFlowerStart" value="FormWeekNrFlowerStart" />
    <div>EindWeek Bloei</div><input type="number" name="FormWeekNrFlowerEnd" value="FormWeekNrFlowerEnd" />
    <div>
        <label for="CheckWeekNrFlowerStart">
            Sorteer op StartWeek Bloei
        </label>
        <input type="checkbox" name="CheckWeekNrFlowerStart" value="CheckWeekNrFlowerStart" />
        <label for="CheckWeekNrFlowerEnd">
            Sorteer op EindWeek Bloei
        </label>
        <input type="checkbox" name="CheckWeekNrFlowerEnd" value="CheckWeekNrFlowerEnd" />
    </div>
    <input type="submit" class="btn btn-primary" value="Filteren(met Get)" />
</form>

<form method="post">
    <div class="formfield">

        <!--h1>Html.DisplayNameFor(model => model.NewOrderLinesArray[0].Product.Name)</h1-->
        <label>Kies een product: </label>

        <select asp-for="OrderLine.Id" class="form-control" required>
            <option value="">Kies een productNr.</option>
            @foreach (var prod in Model.ResultProducts)
            {
                if (prod.Id == Model.OrderLine.Id)
                {
                    @:<option class="form-control" selected value="@prod.Id">@prod.Name</option>
                }
                else
                {
                    @:<option class="form-control" value="@prod.Id">@prod.Name</option>
                }
            }
        </select>
        <span asp-validation-for="OrderLine.Id" class="text-danger"></span>

        <!--h1>Html.DisplayNameFor(model => model.NewOrderLinesArray[0].Quantity)</h1-->
        <label>Geef hier aantal mee: </label>
        <input asp-for="OrderLine.Quantity" class="form-control" autofocus />
        <span asp-validation-for="OrderLine.Quantity" class="text-danger"></span>
    </div>
    <br />

    <div class="formfield">
        <button asp-page-handler="CreateOrderLine" class="btn btn-primary">Maak orderline aan</button>
    </div>
    <h3 class="clearfix">@Model.Message</h3>
    <p>@Html.DisplayNameFor(model => model.OrderLinesList[0].ProductName) </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesList[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderLinesList[0].Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderLinesList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>