@page
@model startProject.DetailsModel

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.WeekNrFlowerStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.WeekNrFlowerStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.WeekNrFlowerEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.WeekNrFlowerEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
